.ProductBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 39px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    // max-width: 20%;

    // img {object-fit: cover;}
    

    .ProductBox_sale {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 24px;
        border-radius: 4px;
        background-color: #A18A68;
        color: white;
        padding: 0 10px;
        align-self: flex-start;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .ProductBox_not_stock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        left: 20px;
        height: 24px;
        align-self: flex-start;
        color: white;
        padding: 0 10px;
        border-radius: 4px;
        background-color: #A18A68;
    }

    .ProductBox_content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h3 {
            font-size: 20px;
            font-weight: 500;
            color: black;
        }

        h4 {
            font-size: 20px;
            font-weight: 400;
            color: #A18A68;
        }
    }
}