.Dashboard {
    display: flex;
    flex-direction: column;
    gap: 15px;

    span {
        color: #A18A68;
        font-weight: 500;
    }

    h3 {
        font-size: 25px;
        font-weight: 400;
    }

    p {
        font-size: 18px;

    }
}