.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    background-color: white;
    width: 89.8%;
    height: 100px;
    position: relative;
    z-index: 2;
    top: 0px;
    padding: 0 10px;
    transition: 0.5s ease;

    .Header_navigation {
        display: flex;
        flex-direction: row;
        gap: 48px;

        .Header_navigation_left {
            display: flex;
            flex-direction: row;
            gap: 64px;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                color: black;
                font-size: 18px;
                font-weight: 400;

                &::before {
                    content: '';
                    width: 0%;
                    height: 3px;
                    top: 30px;
                    background-color: black;
                    position: absolute;
                    transition: 0.3s ease;
                }

                &:hover {
                    &::before {
                        width: 80%;
                    }  
                }
            }
        }

        .Header_navigation_right {
            display: flex;
            flex-direction: row;
            gap: 39px;

            svg {cursor: pointer;}
        }

    }

    .Dropmenu_control {
        display: none;
        position: relative;
        overflow: hidden;
        width: 40px;
        height: 40px;
        
        .Dropmenu_Open {
            position: absolute;
            cursor: pointer;
        }

        .Dropmenu_Close {
            cursor: pointer;
        }

    }
}

@import './components/Dropmenu';
@import './components/Shopbag/Shopbag';