//var
$Header_paddings: 30px;

@media screen and (max-width: 900px) {
    .Header {
        margin-left: $Header_paddings;
        margin-right: $Header_paddings;
    }
}

@media screen and (max-width: 768px) {
    .Header {
        .Header_navigation {
            display: none;
        }
        
        .Dropmenu_control {
            display: block;
        }
    }

    .Step_1 {
        margin: 0 20px;

        .swiper {
            .swiper-slide {
                .SwiperSlide_content {
                    a {
                        width: 35%;
                    }
                }
            }
        }
    }
}