@media screen and (max-width: 768px) {
    .Header {

        .Header_navigation {
            display: none;
        }
        
        .Dropmenu_control {
            display: block;
        }
    }

    .Step_1 {
        margin: 0 20px;

        .swiper {
            .swiper-slide {
                .SwiperSlide_content {
                    a {
                        width: 35%;
                    }
                }
            }
        }
    }

    .ProductBox {
        width: 40%;
    }

    .Footer {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        .Footer_left {
            align-items: center;
        }
    }
}

@media screen and (max-width: 425px) {
    .Footer {
        .Footer_left {
            ul {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    
    .Step_2 {
        margin: 0 20px;
    }

    .ProductBox {
        width: 50%;
    }
}