@media screen and (min-width: 1920px) {
    .Step_2 {
        .Step_2_content {
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 768px) {
    .Header {

        .Header_navigation {
            display: none;
        }
        
        .Dropmenu_control {
            display: block;
        }
    }

    .Step_1 {
        margin: 0 20px;

        .swiper {
            .swiper-slide {
                justify-content: flex-end;
                padding: 100px 30px;
                .SwiperSlide_content {
                    a {
                        width: 35%;
                    }
                }
            }
        }

    }

    .Step_2 {
        margin: 0 20px;

        .Step_2_content {
            gap: 40px;

            .ProductBox {
                width: 40%;
            }
        }
    }

    .ProductBox {
        width: 40%;
    }

    .Footer {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        .Footer_left {
            align-items: center;
        }
    }


    .ShopPage {
        .ShopPage_content {
            flex-direction: column;
            margin-top: 15px;
            gap: 20px;

            .FilterComponent {
                width: 100%;
                justify-content: center;
                margin: 0;
                

                .FilterComponent_Content {
                    margin: 0 10px;
                }
            }
        }

        .ProductListComponents {
            .ProductBox {
                width: auto;
                flex: 30%;
            }
        }
    }

    .ProductPage {
        margin: 128px 80px 0;

        .ProductPage_head {
            flex-direction: column;
        }

        .ProductPage_viewer {
            flex-direction: column-reverse !important;

            .ProductPage_viewer_children {
                width: 100% !important;
                .swiper-wrapper {
                    flex-direction: row !important;

                }
            }
        }

        .ProductPage_description {
            width: 100%;

            .Review {
                flex-direction: column-reverse;
            }
        }

    }
}

@media screen and (max-width: 425px) {

    .Step_1 {
        .swiper {
            .swiper-slide {
                padding: 50px 8px;
            }
        }

    }

    .Step_2 {

        .Step_2_content {
            gap: 25px;

            .ProductBox {
                flex: 50%;
            }
        }
    }
    .ShopPage {
        margin: 96px 30px 0 30px;
        .ProductListComponents {
            .ProductBox {
                flex: 100%;
            }
        }
    }

    .ProductPage {
        margin: 128px 10px 0; 
        
        .ProductPage_viewer {

            .ProductPage_viewer_children {

                .swiper-wrapper {
                    gap: 50px !important;

                }
            }

            .ProductPage_viewer_parent {
                width: 100% !important;
            }
        }


    }

    .Footer {
        .Footer_left {
            ul {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    
    .Step_2 {
        margin: 0 20px;
    }

    .ProductBox {
        width: 50%;
    }
}