.ProductPage {
    display: flex;
    flex-direction: column;
    margin: 128px 96px 0 96px;

    .ProductPage_head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 64px;

        .ProductPage_viewer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 39px;
    
            .ProductPage_viewer_children {
                width: 120px;
    
                .swiper {overflow: visible;}
    
                .swiper-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    
    
                    .swiper-slide {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        opacity: 0.5;
                        transition: 0.5s ease;
    
                        img {
                            width: 120px;
                            cursor: pointer;
                        }
                    }
    
                    .swiper-slide-thumb-active {
                        transform: scale(1.05);
                        opacity: 1;
                    }
                }
            }
    
            .ProductPage_viewer_parent {
                width: 520px;
    
                .swiper-wrapper {
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .ProductPage_head_info {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            gap: 64px;

            .ProductPage_head_info_header {
                display: flex;
                flex-direction: column;
                gap: 23px;

                h2 {
                    font-size: 26px;
                    font-weight: 400;
                }

                h3 {
                    font-size: 20px;
                    font-weight: 400;
                    color: #B4A186;
                }
            }

            .ProductPage_head_info_description {
                display: flex;
                flex-direction: column;
                gap: 19px;

                .ProductPage_head_info_description_rate {
                    display: flex;
                    flex-direction: row;
                    gap: 24px;

                    h4 {
                        font-size: 16px;
                        font-weight: 400;
                        color: #707070;
                    }
                }

                p {
                    font-size: 16px;
                    color: #707070;
                    max-width: 484px;
                    line-height: 27px;
                }
            }

            .ProductPage_head_info_counter {
                display: flex;
                flex-direction: row;
                gap: 23px;

                button {
                    width: 80%;
                    height: 53px;
                    background: none;
                    border: 1.5px solid black;
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: 0.5s ease;

                    &:hover {
                        color: white;
                        background-color: black;
                    }
                }

                @import './components/CounterProduct';
            }

            .ProductPage_head_info_footer_social_and_like {
                display: flex;
                flex-direction: row;
                gap: 40px;

                .ProductPage_head_info_footer_social {
                    display: flex;
                    flex-direction: row;
                    gap: 24px;


                    a {
                        transition: 0.5s ease;

                        svg {
                            transition: 0.5s ease;
                        }

                        &:hover {
                            transform: translateY(-5px);
                            
                            svg {
                                fill: black;
                            }
                        }
                    }

                    .FacebookIcon {
                        &:hover {
                            svg {
                                fill: #1877F2;
                            }   
                        }
                    }
                        
                    .InstagramIcon {
                        &:hover {
                            svg {
                                fill: #ee2a7b;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
