.CounterProduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 53px;
    background-color: #EFEFEF;
    border-radius: 8px;


    h2 {
        font-size: clamp(10px, 2vh, 16px);
        font-weight: 400;
    }

    button {
        width: 50%;
        background: none;
        border: none;
        outline: none;
        opacity: 0.3;

        &:hover {
            color: black;
            opacity: 1;
        }
    }

    input {
        text-align: center;
        width: 80%;
        height: 30px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        outline: none;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
}