.ProductPage_head_info {
    display: flex;
    flex-direction: column;
    gap: 64px;

    .ProductPage_head_info_header {
        display: flex;
        flex-direction: column;
        gap: 23px;

        h2 {
            font-size: 26px;
            font-weight: 400;
        }

        h3 {
            font-size: 20px;
            font-weight: 400;
            color: #B4A186;
        }
    }

    .ProductPage_head_info_description {
        display: flex;
        flex-direction: column;
        gap: 19px;

        .ProductPage_head_info_description_rate {
            display: flex;
            flex-direction: row;
            gap: 24px;

            h4 {
                font-size: 16px;
                font-weight: 400;
                color: #707070;
            }
        }

        p {
            font-size: 16px;
            color: #707070;
            max-width: 484px;
            line-height: 27px;
        }
    }

    .ProductPage_head_info_counter {
        display: flex;
        flex-direction: row;
        gap: 23px;

        button {
            width: 80%;
            height: 53px;
            background: none;
            border: 1.5px solid black;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: 0.5s ease;

            &:hover {
                color: white;
                background-color: black;
            }
        }

        @import './CounterProduct';
    }

    .ProductPage_head_info_footer {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .ProductPage_head_info_footer_social_and_like {
            display: flex;
            flex-direction: row;
            gap: 40px;

            .HeartIcon {
                transition: 0.5s ease;
                cursor: pointer;

                &:hover {
                    fill: red;
                    transform: scale(1.05);
                }
            }

            .ProductPage_head_info_footer_social {
                display: flex;
                flex-direction: row;
                gap: 24px;


                a {
                    transition: 0.5s ease;

                    svg {
                        transition: 0.5s ease;
                    }

                    &:hover {
                        transform: translateY(-5px);
                        
                        svg {
                            fill: black;
                        }
                    }
                }

                .FacebookIcon {
                    &:hover {
                        svg {
                            fill: #1877F2;
                        }   
                    }
                }
                    
                .InstagramIcon {
                    &:hover {
                        svg {
                            fill: #ee2a7b;
                        }
                    }
                }
            }
        }

        .ProductPage_head_info_footer_sku_category {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h4 {
                font-size: 16px;
                font-weight: 400;

                span {
                    color: #9A9A9A;
                }
            }
        }
    }
}