.ProductListComponents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
    padding: 25px 0;

    .ProductBox {
        width: 30%;
        flex: none;
    }
}